# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# macOS
.DS_Store

# iOS
ios/
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/
*.apk
*.aab

# Logs
*.log

# IDE
.vscode/
.idea/

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
